<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <div id="post-container">
        {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p>By {{ post.author }} on {{ post.timestamp }}</p>
                <div>{{ post.content|safe|truncatewords:30 }}</div>
                <a href="#">Read More</a>
            </div>
        {% endfor %}
    </div>
    <button id="loadMore">Load More</button>
    <script src="{% static 'js/load_more.js' %}"></script>
</body>
</html>
